npm uninstall -g angular-cli @angular/cli
npm cache clean
npm install -g @angular/cli@latest

git clone https://github.com/spring-petclinic/spring-petclinic-angular.git

npm install --save-dev @angular/cli@latest
if npm version > 5.0 delete package-lock.json file  ( bug in npm 5.0 - this file prevent correct packages install)
npm install


REST

git clone https://github.com/spring-petclinic/spring-petclinic-rest.git
cd spring-petclinic-rest
./mvnw spring-boot:run

docker run -p 9966:9966 springcommunity/spring-petclinic-rest
